<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Iconos -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a id="atras" (click)="back()"><i class="fa fa-arrow-left"></i></a>
  <a class="navbar-brand"> Academia Grupo 5 </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  
    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/home" (click)="toggleNavbar()" routerLinkActive="activeLink">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/cursos-nuevos" (click)="toggleNavbar()" routerLinkActive="activeLink">Cursos Nuevos</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/perfil" (click)="toggleNavbar()" routerLinkActive="activeLink">Perfil</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/mis-cursos" (click)="toggleNavbar()" routerLinkActive="activeLink">Mis Cursos</a>
          </li>
        </ul>
    </div>
  </nav>