<app-navbar></app-navbar>
<div class="container">
    <h1>Noticias/Anuncios</h1>
    <!-- Carrousel -->
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <p class="text-carrousel">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <p class="text-carrousel">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <p class="text-carrousel">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
    </ngb-carousel>
    <!-- Fin Carrousel -->
</div>
<div class="container">
    
</div>
<div class="container">
    <h1>Calendario</h1>
    <div class="container">
        <img src="https://icalendario.net/media/imprimir/2021/mensual/junio/calendario-junio-2021-office.png" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
