<div class="todo">
    <div class="container">
        <div class="center-screen">
            <img src="./../../../assets/logo_academia.png" alt="Logo academia">

            <h1>Inicia Sesión</h1>

            <form>
                <div class="form-group row">
                    
                    <div class="col-sm-10">
                        <input type="email" class="form-control element-2" id="inputEmail"
                            placeholder="Introducir el Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="password" class="form-control element-2" id="inputPassword"
                            placeholder="Introducir la Contraseña">
                    </div>
                </div>
            </form>

            <button class="element" onclick="location.href = '/home';">Login</button>

            <div class="container register">
                <p>¿No tienes una cuenta?</p>
                <a href="/register">Registrate aqui</a>
            </div>
        </div>
    </div>
</div>