/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//Colores
:root {
    --mountainMeadow: #09BC8A;
    --stealTeal: #508991;
    --warmBlack: #004346;
    --prusianBlue: #172A3A;
    --mediumTurquoise: #75DDDD;
}


//botones 
.detail{
    //background-color: rgb(255, 212, 155);
    background-color: var(--mountainMeadow);
    color:white;
    border: none;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    border-radius:6px;
    margin-bottom: 1vh;
}

//Contenido del selector de temas Collapse
.contentCollapse{
    margin: 1vh auto 1vh 2vh;
}

//Boton de selector de temas
.selectorBtn{
    width:100%;
    margin-top: 2vh;
    background-color: #88C3FF;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
}


